# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
FriendshipEngine/.vs/FriendshipEngine/v17/.suo
FriendshipEngine/.vs/FriendshipEngine/v17/Browse.VC.db
FriendshipEngine/.vs/FriendshipEngine/v17/fileList.bin
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/267f242b749efa12.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/2248a270d8585a63/MENUOBJECTHIERARCHY.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/4029e96ea201d666/INSPECTORWINDOW.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/446936b0eb5fa299/INSPECTORWINDOW.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/4b6186eb045749b2/OBJECTMANAGER.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/688ec936c46abf43/MENUEDITORLAUNCHER.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/8d83acb3e098abfa/WORLD.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/a3d6ea9a764f0f52/MENUOBJECT.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/b647653cfe3d2398/SCENEHIERARCHYWINDOW.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/bfab2147555ea628/SPRITECOMPONENT.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/c44ba314d18828a2/ASSETDATABASEWINDOW.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/db386dbcc572a813/MENUEDITOR.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/ipch/AutoPCH/e7d4d87b5a11326b/MENUHANDLER.ipch
FriendshipEngine/.vs/FriendshipEngine/v17/Solution.VC.db
